<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <link rel="stylesheet" href="about.css" /> -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!--IE 地址栏前的图标-->
    <style>
      * {
        margin: 0;
        padding: 0;
      }

      body {
        font-family: "Raleway", sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #777;
      }

      h1 {
        font-size: 36px;
        color: #555;
        font-weight: bold;
      }

      h3 {
        font-size: 24px;
        color: #333;
        font-weight: bold;
      }

      #team i {
        font-size: 26px;
        color: #555;
      }

      #team p {
        font-weight: 500;
      }

      #team .card {
        box-shadow: 5px 5px 15px #3fa4cf;
        transition: all 0.3s ease-in;
        border-radius: 15px;
        -webkit-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
      }

      #team .card:hover {
        background: #3fa4cf;
        color: #fff;
        border-radius: 15px;
        border: none;
        box-shadow: 5px 5px 10px #9e9e9e;
      }

      #team .card:hover h3,
      #team .card:hover i {
        color: #fff;
      }
      .row {
        justify-content: space-evenly;
        margin-bottom: 40px;
      }
      .p-4 {
        padding-top: 0.5rem !important; /* 缩减上 padding */
        padding-bottom: 0.5rem !important; /* 缩减下 padding */
        padding-left: 1.5rem !important; /* 保持左 padding */
        padding-right: 1.5rem !important; /* 保持右 padding */
      }
    </style>
  </head>
  <body>
    <section id="team">
      <div class="container my-3 py-5 text-center">
        <div class="row mb-5">
          <div class="col">
            <h1>Meet Our Team</h1>
            <p class="my-3">
              This team page has a quirky, vibrant energy that immediately
              catches your attention – a good sign for a design company.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 pt-1">
            <div class="card h-100">
              <div class="card-body">
                <img
                  class="img-fouild rounded w-75 mb-3"
                  src="https://cdn.jsdelivr.net/gh/blessonism/web-clipper@main/local/202406050922270.jpg"
                  alt="Sophie"
                />
                <h3>Alan</h3>
                <h5>Product Manager</h5>
                <p>
                  Responsible for project management to ensure the product meets
                  market needs and is competitive.
                </p>
                <div class="d-flex flex-row justify-content-center">
                  <div class="p-4">
                    <a href="#">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </div>
                  <div class="p-4">
                    <a href="#">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </div>
                  <div class="p-4">
                    <a href="#">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 pt-1">
            <div class="card h-100">
              <div class="card-body">
                <img
                  class="img-fouild rounded w-75 mb-3"
                  src="https://cdn.jsdelivr.net/gh/blessonism/web-clipper@main/local/202406050923230.jpg"
                  alt="lucy"
                />
                <h3>Sheep</h3>
                <h5>Developer</h5>
                <p>
                  Develops and maintains the product by writing code,
                  implementing features, and fixing issues.
                </p>
                <div class="d-flex flex-row justify-content-center">
                  <div class="p-4">
                    <a href="#">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </div>
                  <div class="p-4">
                    <a href="#">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </div>
                  <div class="p-4">
                    <a href="#">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 pt-1">
            <div class="card h-100">
              <div class="card-body">
                <img
                  class="img-fouild rounded w-75 mb-3"
                  src="https://cdn.jsdelivr.net/gh/blessonism/web-clipper@main/local/202406051005266.jpg"
                  alt="Brad"
                />
                <h3>Ayton</h3>
                <h5>Tester</h5>
                <p>
                  Ensures product quality through testing and identifying
                  defects to guarantee stability and reliability.
                </p>
                <div class="d-flex flex-row justify-content-center">
                  <div class="p-4">
                    <a href="#">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </div>
                  <div class="p-4">
                    <a href="#">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </div>
                  <div class="p-4">
                    <a href="#">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <span></span>

        <div class="row">
          <div class="col-lg-3 col-md-6 pt-1">
            <div class="card h-100">
              <div class="card-body">
                <img
                  class="img-fouild rounded w-75 mb-3"
                  src="https://cdn.jsdelivr.net/gh/blessonism/web-clipper@main/local/202406051005083.jpg"
                  alt="Brad"
                />
                <h3>Ronnie</h3>
                <h5>Designer</h5>
                <p>
                  Creates the visual design, user interface, and user experience
                  to ensure the product is aesthetically user-friendly.
                </p>
                <div class="d-flex flex-row justify-content-center">
                  <div class="p-4">
                    <a href="#">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </div>
                  <div class="p-4">
                    <a href="#">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </div>
                  <div class="p-4">
                    <a href="#">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 pt-1">
            <div class="card h-100">
              <div class="card-body">
                <img
                  class="img-fouild rounded w-75 mb-3"
                  src="https://cdn.jsdelivr.net/gh/blessonism/web-clipper@main/local/202406050925185.jpg"
                  alt="andres"
                />
                <h3>Conor</h3>
                <h5>Writer</h5>
                <p>
                  Writes and edits the requirement documentation to ensure the
                  content is accurate, clear, and easy to understand.
                </p>
                <div class="d-flex flex-row justify-content-center">
                  <div class="p-4">
                    <a href="#">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </div>
                  <div class="p-4">
                    <a href="#">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </div>
                  <div class="p-4">
                    <a href="#">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- 确保首先加载jQuery，因为Bootstrap的JavaScript插件依赖于它 -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>

    <!-- 接着加载 Popper.js -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>

    <!-- 然后是Bootstrap JS -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <!-- FontAwesome的JS以便使用其图标库 -->
    <script
      src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"
      crossorigin="anonymous"
    ></script>
    <!-- <script src="about.js"></script> -->
  </body>
</html>
